.main-products{
    margin-top: 20px;
    width: 97%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #f8f8ff;
    border-radius: 10px;
    border: 2px solid #ff9f1a ;
    justify-items: center;
}
.main-div{
    width: 80%
}

.legend{
    color: rgb(255, 159, 26);
    width: 20%;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    border: 2px solid rgb(255, 159, 26);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.products{
    width: 96%; 
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.products img{
    width: 100px;
    height: 100px;
}

.products button{
    width: 80%;
    height: 30px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    background-color: #0078bb;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.products button:active{
    background-color: #005c8a;
}

.products button:hover{
    background-color: #005c8a;
}

.products h5{
    padding: 0 20px;
}

.legend-item{
    width: 50%;
    border: 2px solid rgb(255, 159, 26);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}


.product-description{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid rgb(255, 159, 26);
    padding: 20px;
    text-overflow: ellipsis;
}

.product-description img{
    width: 100px;
    height: 100px;
}

.product-description button{
    width: 80%;
    height: 30px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    background-color: #0078bb;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.product-description button:active{
    background-color: #005c8a;
}

.product-description button:hover{
    background-color: #005c8a;
}

.product-description svg{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.product-description h3{
    margin-top: 10px;
    margin-bottom: 10px;
}

.show-modal{
    display: none;
}
